adding-machine==0.9.13
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
cached-property==1.5.1
certifi==2019.3.9
cffi==1.11.5
cftime==1.0.3.4
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
cluster-utils==0.1.5
conda==4.6.14
core-maths==0.0.9
cryptography==3.2
Cython==0.29.10
dask==2.0.0
dataframe-io==0.2.12
db-queries==20.2.1
db-tools==0.8.0
draw-sources==0.0.13
drmaa==0.7.9
flake8==3.5.0
future==0.17.1
gbd==1.0.0
gbd-artifacts==1.2.3
gbd-mapping==2.0.4
get-draws==1.2.4
hierarchies==1.0.3
idna==2.6
ihme-dimensions==0.1.11
ihme-rules==1.4.1
importlib-metadata==0.18
joblib==0.13.2
locket==0.2.0
mccabe==0.6.1
memory-profiler==0.55.0
mock==2.0.0
more-itertools==7.0.0
mypy==0.620
mysqlclient==1.4.2.post1
netCDF4==1.5.1.2
numexpr==2.6.9
numpy==1.15.4
packaging==19.0
pandas==0.24.2
parse==1.12.0
partd==1.0.0
patsy==0.5.1
pbr==5.1.3
pluggy==0.12.0
psutil==5.5.1
py==1.8.0
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pyDOE==0.3.8
pyflakes==1.6.0
PyMySQL==0.9.3
pyOpenSSL==18.0.0
pyparsing==2.4.0
PySocks==1.6.8
pytest==4.6.3
python-dateutil==2.8.0
pytz==2018.9
PyYAML==5.1
redis==3.2.1
requests==2.18.4
risk-distributions==2.0.1
risk-utils==0.3.4
ruamel-yaml==0.15.37
scipy==1.2.1
six==1.11.0
SQLAlchemy==1.3.5
statsmodels==0.10.0
tables==3.4.0
test-support==0.1.3
toolz==0.9.0
transmogrifier==1.1.5
typed-ast==1.1.0
urllib3==1.22
vivarium==0.8.21
vivarium-data-requests==1.0.0
vivarium-gbd-access==2.0.3
vivarium-inputs==3.0.0
vivarium-public-health==0.9.13
wcwidth==0.1.7
xarray==0.12.1
zipp==0.5.1
